@page "/geolocation"

@using System.Text.Json.Nodes;
@using FindlyApp.Services;
@using System.Security.Claims;

@inject IJSRuntime _jsRuntime;
@inject GeolocationService _geolocationService;
@inject IHttpContextAccessor _httpContextAccessor;
@inject NavigationManager _navigationManager;

@implements IDisposable;

<h3>Geolocation</h3>

<div>
	Your coordinates:
	<ul>
        <li>Latitude: @_geolocationService._currentLatitude</li>
        <li>Longitude: @_geolocationService._currentLongitude</li>
	</ul>
</div>

@code 
{
	private Guid _currentUserId;

	protected override void OnInitialized()
	{
		base.OnInitialized();

		var userClaim = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier);
		if (userClaim is null)
		{
			_navigationManager.NavigateTo("/login", true);
		}
		else
		{
			_currentUserId = Guid.Parse(userClaim.Value);
			_geolocationService.OnGeolocationChanged += GeolocationService_OnGeolocationChanged;
		}
	}

	protected override Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
			_geolocationService.StartUpdatingUserGeolocation(_currentUserId, _jsRuntime);

		return base.OnAfterRenderAsync(firstRender);
	}

	private async Task GeolocationService_OnGeolocationChanged()
	{
		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		_geolocationService.Dispose();
	}
}